* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
        font-family: 'Arial', sans-serif;
      
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
}

.container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgb(18, 16, 16);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
    display: flex;
    flex-direction: column;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #007bff;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: rgb(67, 63, 63);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
